html {
  background: #141414;
  color: #fefefe;
  font-family: "Montserrat";
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  padding: 10px;
}

.course {
  display: block;
  padding: 20px 10px;
  color: #fefefe;
  border-radius: 20px;
  margin-bottom: 10px;
  font-weight: 800;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  border: 1px solid rgba(254, 254, 254, 0.1);
}

.course-title, .grades-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
  width: 70%;
}
.course-title span, .grades-title span {
  font-size: 13px;
  color: rgba(254, 254, 254, 0.6);
  font-weight: 400;
}

.counter {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 18px;
  font-weight: 600;
  padding: 0 10px;
  border: 1px solid rgba(254, 254, 254, 0.1);
  border-radius: 10px;
}

.course-paragraph {
  display: none;
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 25px;
  font-weight: 400;
}
.course-paragraph:last-child {
  margin-bottom: 0;
}

.assignment-name, .assignment-timeleft {
  color: #DE6B66;
}

.assignment-timeleft {
  border-bottom: 1px solid rgba(254, 254, 254, 0.1);
}

.grades {
  display: block;
  padding: 20px 10px;
  color: #fefefe;
  width: 100%;
  overflow-x: hidden;
  border-radius: 20px;
  margin-bottom: 10px;
  font-weight: 800;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  border: 1px solid rgba(254, 254, 254, 0.1);
}
.grades .grades-table {
  overflow: hidden;
  display: none;
}

.grades i, .course i {
  position: absolute;
  right: 20px;
  top: 20px;
  transition: 0.3s;
}

.active .grades-table {
  opacity: 0;
  display: table;
  animation: fadeIn 0.5s forwards;
}
.active .course-paragraph {
  display: block;
}
.active .grades-title, .active .course-title {
  margin-bottom: 10px;
}
.active i {
  transform: rotate(180deg);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.grades-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.grades-table thead td {
  font-weight: 700;
  width: 50%;
}
.grades-table tbody tr:hover {
  background: #101010;
}
.grades-table td {
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
}
.grades-table tr {
  height: 30px;
  transition: 0.3s;
  border-bottom: 1px solid rgba(254, 254, 254, 0.1);
}
.grades-table tr:last-child {
  border-bottom: none;
}
.grades-table tr td:last-child {
  color: #DE6B66;
  font-weight: 600;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #141414;
  height: 60px;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  align-items: center;
}
.header-title h1 {
  font-size: 30px;
  line-height: 60px;
}
.header-right img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.schedule {
  width: 100%;
  display: block;
}
.schedule td {
  font-size: 10px;
  width: 23% !important;
  display: inline-block;
}
.schedule td:first-child {
  color: #DE6B66;
  font-weight: 600;
  width: 15% !important;
}
.schedule td:last-child {
  color: #DE6B66;
  font-weight: 600;
  width: 15% !important;
}

/*# sourceMappingURL=style.css.map */
